<div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
          <ul id="menu">
            <a href="#t1"><li class="icon fa fa-info" id="uno"></li></a>
            <a href="#t3"><li class="icon fa fa-child" id="tres"></li></a>
            <a href="#t2"><li class="icon fa fa-keyboard-o" id="dos"></li></a>
            <a href="#t4"><li class="icon fa fa-angellist" id="cuatro"></li></a>

          </ul>